<mat-card>
    <mat-card-header>
      <mat-card-title>German Podcasts Overview</mat-card-title>
      <mat-card-subtitle>A selection of podcasts you're listening to</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let podcast of podcasts">
          <mat-icon matListIcon>podcasts</mat-icon>
          <div matLine>{{ podcast.name }}</div>
          <div matLine class="mat-card-subtitle">{{ podcast.host }}</div>
          <p matLine>{{ podcast.description }}</p>
          <!-- Update starts here -->
          <mat-chip-set>
            <mat-chip color="primary">{{ podcast.releaseDate | date }}</mat-chip>
          </mat-chip-set>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  