/* podcast-ueberblick.component.css */

mat-card {
    margin: 20px;
  }
  
  mat-chip-list {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .mat-card-subtitle {
    color: rgba(0,0,0,.54);
  }
  
  .mat-icon {
    color: #757575;
  }
  