<mat-toolbar color="primary">
  <span>Mein App-Name</span>
  <!-- Navigation Links -->
  <span class="toolbar-spacer"></span> <!-- This is used to push your navigation to the right -->
  <button mat-button routerLink="/dashboard">Dashboard</button>
  <button mat-button routerLink="/german-music">German Music</button>
  <button mat-button routerLink="/german-audiobooks">German Audiobooks</button>
  <button mat-button routerLink="/german-history">German History</button>
  <button mat-button routerLink="/german-tagebuch">German Tagebuch</button>
  <button mat-button routerLink="/about">About</button>
</mat-toolbar>
