<!-- src/app/about/about.component.html -->

<mat-card>
    <mat-card-header>
      <mat-card-title>About This Site</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Welcome to our website dedicated to German culture and language learning! Here, you can find a curated collection of German music playlists, audiobooks, historical insights, and personal diary entries in German.
      </p>
      <p>
        This platform was created to share my journey of exploring German culture and to assist others who are on a similar path. Whether you're a beginner or advanced learner, I hope you find these resources helpful and engaging.
      </p>
      <p>
        Feel free to explore the different sections and discover new aspects of German language and culture. If you have any suggestions or would like to contribute, please don't hesitate to reach out.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="mailto:jerome_tesselaar@hotmail.com">Contact Us</a>
    </mat-card-actions>
  </mat-card>
  